@model PagedList.IPagedList<Model.EF.Sach>
@using PagedList.Mvc
@{
    ViewBag.Title = "Quản lý thể loại";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section header {
    Danh sách các loại sách
}

@section JsFooter {
    @*<script src="~/assets/admin/js/controller/userController.js"></script>*@
    <script src="~/assets/admin/js/controller/idCount.js"></script>
}

<div class="row">
    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Danh sách thể loại</h6>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Index", "Sach", FormMethod.Get))
                {
                    <div class="row form-group">
                        <div class="col-lg-12">
                            <div class="col-md-4 input-search">
                                <input type="text" name="searchString" value="@ViewBag.SearchString" class="form-control" />
                            </div>
                            <div class="col-md-4 btn-search">
                                <button type="submit" class="btn btn-success"> Tìm kiếm</button>
                                <a class="btn btn-primary" href="@Url.Action("Create","Sach")">Thêm mới</a>
                            </div>
                        </div>
                    </div>
                }

            </div>

            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>

                            <th>STT</th>
                            <th>Mã sách</th>
                            <th>Tên sách</th>
                            <th>Miêu tả</th>
                            <th>Hình ảnh</th>
                            <th>Giá thành</th>
                            <th>Ngày thêm</th>
                            <th>Lượt xem</th>
                            <th>Thể loại</th>
                            <th>#</th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>

                            <th>STT</th>
                            <th>Mã sách</th>
                            <th>Tên sách</th>
                            <th>Miêu tả</th>
                            <th>Hình ảnh</th>
                            <th>Giá thành</th>
                            <th>Ngày thêm</th>
                            <th>Lượt xem</th>
                            <th>Thể loại</th>
                            <th>#</th>
                        </tr>
                    </tfoot>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.MaSach">
                                
                                <td class="td-id"><p class="p-text-id"></p></td>
                                <td>@item.MaSach</td>
                                <td>@item.TenSach</td>
                                <td>@item.Mieu_ta</td>
                                <td><img style="width:200px"  src="@Url.Content(item.HinhAnh)"></img></td>
                                <td>@item.GiaThanh</td>
                                <td>@(item.NgayThem.HasValue?item.NgayThem.Value.ToString("MM/dd/yyyy") : DateTime.Now.ToString("MM/dd/yyyy"))</td>
                                <td>@item.LuotXem</td>
                                <td>@item.TheLoai.TenTL</td>

                                <td>
                                    @Html.ActionLink("Sửa", "Edit", new { MaSach = item.MaSach }, new { @class = "btn btn-warning" })
                                    @*<a class="btn btn-warning" href="/Admin/TheLoai/Edit/@item.MaTL">
                                            Sửa
                                        </a>*@
                                    @Html.ActionLink("Xóa", "Delete", new { MaSach = @item.MaSach }, new { @class = "btn btn-danger" })

                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
            </div>


        </div>
    </div>

</div>

