@model List<Model.EF.Sach>


@{
    var category = (Model.EF.TheLoai)ViewBag.InfoTheLoai;
    ViewBag.Title = category.TenTL;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #ul_top_hypers li {
        display: inline;
    }

    .rel {
        margin-left: 0px;
        margin-right:10px;
    }
</style>
<div class="content">
    <div class="content_top">
        <div class="heading">
            <h3>@category.TenTL</h3>
        </div>
        <div class="see">
            <p><a href="#">See all Products</a></p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="section group ">
            @foreach (var item in Model)
            {
                var url = "/chi-tiet/" + item.TenSach + "-" + item.MaSach;
                var imgurl = item.HinhAnh.Substring(1);
                <div class=" grid_1_of_4 images_1_of_4">
                    <a href="@url"><img style="height:200px;" src="@imgurl" alt="" /></a>
                    <h2>@item.TenSach </h2>
                    <div class="price-details">
                        <div class="price-number">
                            <p><span class="rupees">@(item.GiaThanh.HasValue ? item.GiaThanh.Value.ToString("N0"): "Liên hệ") VNĐ</span></p>
                        </div>
                        <div class="add-cart">
                            <h4><a href="/them-gio-hang?MaSach=@item.MaSach&quantity=1">Thêm vào giỏ hàng</a></h4>
                        </div>
                        <div class="clear"></div>

                    </div>
                </div>



            }


        <!--Phân trang-->
        @if (ViewBag.TotalPage >= 0)
        {
            var pageDissplay = (int)(ViewBag.MaxPage);
            int totalPage = (int)ViewBag.TotalPage;
            int currentPage = ((int)ViewBag.Page);

            var startPageIndex = Math.Max(1, currentPage - pageDissplay / 2);
            var endPageIndex = Math.Min(totalPage, currentPage + pageDissplay / 2);

            var link = "/san-pham/" + category.TenTL + "-" + category.MaTL;
            <div class="clear"></div>
            <nav>
                <ul class="pagination" id="ul_top_hypers">
                    @if (currentPage > ViewBag.First)
                    {
                        <li class="page-item"><a href="@link?page=@ViewBag.First" title="Trang đầu" class=" page-link"><i class="fa fa-angle-double-left"></i></a></li>
                        <li class="page-item"><a href="@link?page=@ViewBag.Prev" title="Trang trước" class="prev page-link"><i class="fa fa-angle-left"></i></a></li>

                    }
                    @for (int i = startPageIndex; i <= endPageIndex; i++)
                    {
                        if (currentPage == i)
                        {
                            <li><a href="@link?page=@i" class="active" title="Trang @i">@i</a></li>
                        }
                        else
                        {
                            <li><a href="@link?page=@i" class="pos" title="Trang @i">@i</a></li>
                        }
                    }
                    @if (currentPage < totalPage)
                    {
                        <li class="page-item"><a href="@link?page=@ViewBag.Next" class="next page-link" title="Trang sau"><i class=" fa fa-angle-right"></i></a></li>
                        <li class="page-item"><a href="@link?page=@ViewBag.Last" class="last" title="Trang cuối"><i class="fa fa-angle-double-right"></i></a></li>

                    }
                </ul>
            </nav>

        }
        else
        {
            <span>Không có bản ghi nào</span>
        }

    </div>
</div>
@* Trang thêm vào giỏ hàng  *@
