@model PagedList.IPagedList<Model.EF.PhieuXuat>
@using PagedList.Mvc
@{
    ViewBag.Title = "Quản lý phiếu xuất";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}
@section header {
    Danh sách phiếu xuất
}

@section JsFooter {
    @*<script src="~/assets/admin/js/controller/userController.js"></script>*@
    <script src="~/assets/admin/js/controller/idCount.js"></script>
}

<div class="row">
    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Danh sách đơn hàng</h6>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Index", "PhieuXuat", FormMethod.Get))
                {
                    <div class="row form-group">
                        <div class="col-lg-12">
                            <div class="col-md-4 input-search">
                                <input type="text" name="searchString" value="@ViewBag.SearchString" class="form-control" />
                            </div>
                            <div class="col-md-4 btn-search">
                                <button type="submit" class="btn btn-success"> Tìm kiếm</button>

                            </div>
                        </div>
                    </div>
                }

            </div>

            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>

                            <th>STT</th>
                            <th>Mã phiếu xuất</th>
                            <th>Mã khách hàng</th>
                            <th>Ngày tạo</th>
                            <th>Tổng tiền</th>
                            <th>Xem chi tiết</th>
                            <th>#</th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>

                            <th>STT</th>
                            <th>Mã phiếu xuất</th>
                            <th>Mã khách hàng</th>
                            <th>Ngày tạo</th>
                            <th>Tổng tiền</th>
                            <th>Xem chi tiết</th>

                            <th>#</th>
                        </tr>
                    </tfoot>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.MaPX">

                                <td class="td-id"><p class="p-text-id"></p></td>
                                <td>@item.MaPX</td>
                                <td>@item.UserName</td>
                                <td>@(item.NgayTao.HasValue?item.NgayTao.Value.ToString("MM/dd/yyyy") : DateTime.Now.ToString("MM/dd/yyyy"))</td>
                                <td>
                                    @{
                                        var tongtien = 0;
                                        foreach (var items in item.CTPhieuXuats.Where(x=>x.MaPX==item.MaPX))
                                        {
                                            tongtien = (int)(tongtien + items.DonGia);
                                        }
                                    }
                                    @tongtien
                                </td>
                                <td>
                                    @Html.ActionLink("Xem", "ViewCT", new { MaPX = item.MaPX }, new { @class = "btn btn-info" })
                                </td>
                                <td>
                                    @*<a class="btn btn-warning" href="/Admin/TheLoai/Edit/@item.MaTL">
                                            Sửa
                                        </a>*@
                                    @Html.ActionLink("Xóa", "Delete", new { MaPX = @item.MaPX }, new { @class = "btn btn-danger" })

                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
            </div>


        </div>
    </div>

</div>

